{% set propertyName = propertyName|default('blocks') %}
<div property="{{ propertyName }}" typeof="collection">
    {% if blocks|length %}
        {% for block in blocks %}
            {% include ('blocks/' ~ block.type ~ '.html.twig') with {
                'block' : block,
                'propertyName': propertyName
            } %}
        {% endfor %}
    {% endif %}
</div>